.page-top{
  display:flex;
  padding-left: 50%;
  padding-top: 50%;
  justify-content: center;
}
.title{
  font-family:cursive;
  justify-content: center;
  padding-left: 50%;
}

.input-field{
  background-color: royalblue;
}
/* .fas-fa-user{
  padding-inline:0;

} */
.social-media{
  size: 100px;
}
.data{
  display: none;
}